{% extends "base.html" %}

{% block content %}

{% load static %}

<form method="post">
    {% csrf_token %}
    <div class="text-center center">
        <p class="h1" style="color: #DCD7D9">Wybierz kategorię</p>
        <div class="card-container">
             {% for value, label in form.fields.category.choices %}
                <button style="background-image: url({% static 'img/'|add:label|add:'.jpg' %})" class="card" type="submit" name="category" value="{{ value }}"></button>
             {% endfor %}
        </div>
    </div>
</form>

{% endblock %}
