{% extends "base.html" %}

{% block content %}

    <form action="" method="post">
        {% csrf_token %}
        <div class="text-center center flex">
            <p class="h1" style="color: #DCD7D9">Wybierz poziom trudności</p>
            <div>
                {% for value, label in form.fields.level.choices %}
                    <button type="submit" value="{{ value }}" name="level" class="category-button btn btn-outline-success">{{ label }}</button>
                {% endfor %}
            </div>
        </div>
    </form>

{% endblock %}