{% extends "base.html" %}

{% block content %}

<div class="text-center center">
    <div>
        <button type="submit" name="1" class="button-circle btn-success">1</button>
    </div>
    <div>
        <button type="submit" name="2" class="button-circle btn-success">2</button>
    </div>
    <div>
        <button type="submit" name="3" class="button-circle btn-success">3</button>
    </div>
    <div>
        <button type="submit" name="4" class="button-circle btn-success">4</button>
    </div>
    <div>
        <button type="submit" name="5" class="button-circle btn-success">5</button>
</div>

{% endblock %}