{% extends "base.html" %}

{% block content %}

    <form action="" method="post">
        {% csrf_token %}
        <div class="text-center center">
            <p class="h1" style="color: #DCD7D9">Wybierz poziom trudności</p>
            <div>
                <button type="submit" name="beginner" class="category-button btn btn-outline-success">Bardzo łatwy</button>
                <button type="submit" name="novice" class="category-button btn btn-outline-success">Łatwy</button>
            </div>
            <div>
                <button type="submit" name="intermediate" class="category-button btn btn-outline-success">Średni</button>
                <button type="submit" name="advanced" class="category-button btn btn-outline-success">Trudny</button>
            </div>
            <div>
                <button type="submit" name="master" class="category-button btn btn-outline-success">Bardzo trudny</button>
            </div>
        </div>
    </form>

{% endblock %}