{% extends "base2.html" %}

{% block content %}

    <p class="container text-center">
        <p class="row">
            <div class="col"></div>
            <p class="col">
                <p>Pytanie: {{ question }}</p>
                <form action="" method="post">
                    {% csrf_token %}
                    <p>
                        <button name='answer' value='{{ answer_1.1 }}' class="btn btn-success btn-large">A: {{ answer_1.0 }}</button>
                    </p>
                    <p>
                        <button name='answer' value='{{ answer_2.1 }}' class="btn btn-success btn-large">B: {{ answer_2.0 }}</button>
                    </p>
                    <p>
                        <button name='answer' value='{{ answer_3.1 }}' class="btn btn-success btn-large">C: {{ answer_3.0 }}</button>
                    </p>
                    <p>
                        <button name='answer' value='{{ answer_4.1 }}' class="btn btn-success btn-large">D: {{ answer_4.0 }}</button>
                    </p>
                </form>
            </div>
            <div class="col"></div>
        </div>
    </div>

{% endblock %}
