{% extends "base2.html" %}

{% block content %}

    <p class="container text-center">
        <p class="row">
            <div class="col"></div>
            <p class="col">
                <p>Pytanie: {{ question }}</p>
                <form action="" method="post">
                    {% csrf_token %}
                    <p>
                        <button name='answer_A' class="btn btn-success btn-large">A: {{ answer_1 }}</button>
                    </p>
                    <p>
                        <button name='answer_B' class="btn btn-success btn-large">B: {{ answer_2 }}</button>
                    </p>
                    <p>
                        <button name='answer_C' class="btn btn-success btn-large">C: {{ answer_3 }}</button>
                    </p>
                    <p>
                        <button name='answer_D' class="btn btn-success btn-large">D: {{ answer_4 }}</button>
                    </p>
                </form>
            </div>
            <div class="col"></div>
        </div>
    </div>

{% endblock %}
